#mycanvas{
    background-image: url(images/bg.jpg);
    border:20px solid green;
}
body{
    background-color: black;
  
}
.button{

    margin-left: 50px;
    padding: 1rem 3rem; 
    font-weight: 600;
    font-size: 1rem;
    border:2px solid transparent;
    outline: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all .3s ease;
    border:5px solid darkgreen;
    background-color: yellowgreen;
    color:darkgreen;
    height: 10px;
    width: 50px;



}

.button:hover{
    border: 5px solid yellowgreen ;
    background-color: darkgreen;
    color:yellowgreen;
}
